
.name{
  background-color:ForestGreen;
  height:35px;
  color:white;
    /*margin-right:10px;
    margin-left:10px;*/
}

nav {
  margin-bottom:20px;
  background-color: #00c853 !important;

}

body{

 text-align:center;

}

.source{
  margin-top: 50px;
}

.dropdown-content {
  width: 400px !important;
}
